/* Styles common for the Extension, Demo, and Storybook */

:root {
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /*
     * Pattern: --color-<RR>: #RRGGBB
     * e.g. --color-ab: #ABAEE9;
     *
     * `RR` — first byte of the hex color code, representing the Red channel.
     * If a color with the same RR is already defined, use the next byte:
     *
     * --color-<RR><GG>
     * e.g. --color-ab13: #AB1337;
    */
    --color-ab: #ABAEE9;
    --color-5f: #5F63A0;
    --color-0e: #0E1216;
    --color-0d: #0D1013;
    --color-18: #181C21;
    --color-47: #47586E;
    --color-f6: #F6F6FC;
    --color-cd: #CDCFE2;
    --color-09: #090B0E;
}
